<%= form_for @video do |f| %>
  <div class="eight chubby columns">
    <%= render 'shared/error_messages', :object => f.object %>
  </div>
  <div class="six chubby columns">
    <p><%= f.text_field :url, :value => @url, :placeholder => "YouTube or Vimeo URL (eg http://www.youtube.com/watch?v=abc... )" %></p>
    
    <% if params[:action] == 'edit' %>
      <p><%= f.check_box :hidden %> <%= f.label :hidden %></p>
    <% end %>
    
    <div class="actions">
      <%= f.submit "submit" %>
    </div>
  </div>
<% end %>
